/* EmployeeEditForm.css */

.employee-edit-form {
    background-color: transparent;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-edit-form-container {
    padding: 50px;
    padding-top: 50px;
  padding-top: 5vh;
  width: 38vw;
  position: relative;
  top: -327px;
  bottom: 8vh;
  left: 22vw;
  z-index: 1;
  background-color: aliceblue;
  overflow: auto;
  border-radius: 28px;
  box-shadow: -1px 2px 8px 3px rgba(0, 0, 0, 0.1), 0 1px 20px 13px rgba(0, 0, 0, 0.08);
}

.employee-edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Added missing unit */
}

#employee-edit-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 212px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 22px;
    font-weight: 550;
    transition: all 0.3s ease-in-out;
}

#employee-edit-submit:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 20px; /* Increased margin between form groups */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-control:hover,
.form-control:focus {
    border-color: #007bff;
    outline: none;
}
