/* EmployeeEditForm.css */

.employee-edit-form {
    background-color: transparent;
    /* padding: 20px; */
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-edit-form-container {
    padding: 50px;
    /* padding-top: 5vh; */
    /* border: 1px solid black; */
    /* height: 80vh; */
    width: 33vw;
    position: relative;
    top: -481px;
    bottom: 8vh;
    /* left: 290px; */
    left: 22vw;
    z-index: 1;
    background-color: aliceblue;
    overflow: auto;
    border-radius: 28px;
    box-shadow: -1px 2px 8px 3px rgba(0, 0, 0, 0.1), 0 1px 20px 13px rgba(0, 0, 0, 0.08);

}

.employee-edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20
}
/* EmployeeEditForm.css */

#employee-edit-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 240px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 12px;
    /* margin-bottom: 20px; */
    box-shadow: 0 2px 4px #747070;
    /* font-size: 18px; */
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

#employee-edit-submit:hover {
    background-color: #0056b3; /* Change button background color on hover */
}

/* EmployeeEditForm.css */

.form-group {
    margin-bottom: 10px; /* Add margin between form groups */
}

.form-group label {
    display: block;
    margin-bottom: 5px; /* Add margin below labels */
    font-weight: bold; /* Make labels bold */
}

.form-control {
    width: 100%; /* Make form controls full width */
    padding: 10px; /* Add padding to form controls */
    font-size: 16px; /* Set font size for form controls */
    border-radius: 5px; /* Apply border radius to form controls */
    border: 1px solid #ccc; /* Add border to form controls */
    box-sizing: border-box; /* Include padding and border in width */
}

/* Optional: Hover and focus styles for form controls */
.form-control:hover,
.form-control:focus {
    border-color: #007bff; /* Change border color on hover/focus */
    outline: none; /* Remove outline on focus */
}


