.orders-main{
    /* border: 1px soild black; */
    padding: 2%;
    background-color: aliceblue;
}

.orders-main-2nd{
    background-color: white;
    padding: 2%;
    padding-top: 4px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
}

.orders-detail-table thead tr th{
    background-color: rgb(187, 221, 250);
}


.orders-detail-form{
    /* border: 1px solid black; */
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orders-detail-row{
    /* border: 1px solid black; */
    width: 48vw;
    display: flex;
    justify-content: space-between;
}

.orders-detail-column{
    /* border: 1px solid black; */
    /* width: 50vw; */
    display: flex;
    justify-content: space-evenly;
}
.orders-detail-column input{
    width: 30vw;
    margin-left: 0vw;
    background-color: rgb(230, 237, 237);
}

.orders-detail-logo{
    display: flex;
}

#delete{
    color: red;
}
#delete:hover{
    color: rgb(229, 135, 135);
}

#edit{
    color: blue;
}
#edit:hover{
    color: rgb(134, 134, 215);
}