.employee-entry-form {
  padding-top: 4vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-3 input {
  margin-bottom: 10px;
}

.content-div label {
  color: red;
}

.employee-entry-form-2nd {
  overflow: inherit;
  padding: 43px;
  height: 50vw;
  width: 40vw;
  background-color: white;
  z-index: 1;
  border-radius: 23px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15);
}

.submit-btn {
  margin-top: 2vh;
  width: 100%;
}
