.dash-main{
    background-color: aliceblue;
    height: 100vh;
    border: 1px solid black;
}

.dash-top{
    border: 1px solid black;
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dash-top box{
    height: 24vh;
    width: 20vw;
    border: 1px solid black;
}
.dash-bottom{
    
}
