
.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr; /* Example columns, adjust as needed */
  overflow: auto; /* Ensure that .main is scrollable */
}

.sidebar {
  height: 100vh;
  /* border-radius: 30px; */
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  /* background-color:  #FCFCFC; */
  background-color:  #e3e0e0;

  /* background-color: rgb(71, 68, 68); */
  /* border-right: 1px solid rgb(126, 120, 120); */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 4;
}

.mainbar {
  height: 100%;
}
