.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr; /* Example columns, adjust as needed */
    overflow: auto; /* Ensure that .main is scrollable */
}

.sidebar {
    height: 100vh;
    background-color:  #FCFCFC;
    border-right: 1px solid rgb(126, 120, 120);
    position: sticky;
    top: 0;
}

.mainbar {
    height: 100%;
   
    
}
