.nav-container {
  height: 10vh;
  width: 100%;
  border-bottom: 1px dotted rgb(177, 170, 170);
  position: sticky;
  top: 0;
  z-index: 3;

  background: hsla(175, 81%, 70%, 1);

  background: linear-gradient(135deg, hsla(175, 81%, 70%, 1) 20%, hsla(225, 65%, 49%, 1) 88%);
  
  background: -moz-linear-gradient(135deg, hsla(175, 81%, 70%, 1) 20%, hsla(225, 65%, 49%, 1) 88%);
  
  background: -webkit-linear-gradient(135deg, hsla(175, 81%, 70%, 1) 20%, hsla(225, 65%, 49%, 1) 88%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#76F1E7", endColorstr="#2C55CE", GradientType=1 );

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.nav-user li {
  display: flex;
  align-items: center;
}

.logout-icon {
  font-size: 4vh;
  margin-bottom: 1vh;
  margin-left: 0.5vw;
}

.nav-user{
    color: red;
    cursor: pointer;
}

.nav-user:hover{
    color: rgb(237, 129, 129);
    
}